.jumbotron {
  background-image: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1933793_10154068557962718_784305348435310371_n.jpg?oh=cc3d078ef6fc014f4e90b01f2bacb841&oe=57758D68");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-top: 0;
  color: #F7FAFE;
  padding-top: 450px;
  padding-bottom: 300px; }
}

.navbar-inverse {
  background-color: rgba(34, 34, 34, 0.6)
  border: none;
}

