body {
  background-color: #6c8c8b;
}



.jumbotron {
  background-image: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1933793_10154068557962718_784305348435310371_n.jpg?oh=cc3d078ef6fc014f4e90b01f2bacb841&oe=57758D68");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-top: 0;
  color: #eceff1;
  text-shadow: grey 0.2em 0.2em 0.2em;
  padding-top: 400px;
  padding-bottom: 200px;
}

.navbar-inverse {
  background-color: rgba(34, 34, 34, 0.6);
  border: none;
}

#details {
  background-image: url("http://www.neworleansparties.com/thumb/820/460/uploads/gallery/rosys4_1452530254.jpg.pagespeed.ce.elRT-jhsUf.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top:130px;
  padding-bottom: 160px;
  margin-bottom: 10px;
  margin-top: 0;
  color: black;
}

#party {
  background-image: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12494845_10154068558617718_7731527786002247042_n.jpg?oh=b7ad23cfbb76b64228ff3cf98d3c275e&oe=577573C9");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 160px;
  color: #123239;
  margin-bottom: 10px;
}

#party h1 {
  color: #eceff1;
  text-shadow: grey 0.2em 0.2em 0.2em;
  margin-bottom: 10px;
}

#registry {
  padding-top:50px;
  padding-bottom: 50px;
  margin-right: 45px;
  margin-left: 45px;
}

#rsvp {
  background-color: #6c8c8b;
  padding-top:50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

#photos {
  margin: 42px;
}

#photos img {
  border-radius: 25px;
}

.well {
  border-radius: 25px;
  background-color: rgba(208,206,203,0.6);
}


h1 {
  font-family: 'Bad Script', cursive;
}

h2 {
  font-family: 'Bad Script', cursive;
}


